@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;  
  --color-bg: #d6e7e8;
  --color-footer : #031B34;
  --color-text:  rgb(72, 162, 161);
  --color-featured: #190307;
  --color--textBg: #b3b9c2;
}

.gradient__text {
  background : var(--gradient-text);
  background-clip: text;
  -webkit-background-clip : text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 1rem 6rem;
}